@import "tailwindcss";
@import "./typography.css";
@import "./swiper.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-rotate-border: border-rotate 5s linear infinite;
  --breakpoint-3xl: 120rem;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbfbfb;
    --foreground: #ededed;
  }
}

@utility flower-pattern {
  background-image: url("/images/flower-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
@utility noise-pattern {
  background-image: url("/images/noise-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
@utility noise-pattern-2 {
  background-image: url("/images/noise-pattern-02.png");
  background-position: center;
  background-repeat: repeat;
}

@utility glow-ball {
  background-image: url("/images/glow-ball3.png");
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply noise-pattern overscroll-none;
}

:focus {
  @apply outline-teal-500;
}
