@import "tailwindcss";
@import "./typography.css";
@import "./swiper.css";
:root {
  --background: var(--color-teal-50);
  --foreground: #171717;

  /* Font Families */
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "DM Serif Display", serif;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

@layer utilities {
  .animate-rotate-border {
    animation: border-rotate 5s linear infinite;
  }

  .bg-animated-conic-border {
    background-image: conic-gradient(
      from var(--border-angle),
      #5eead4,
      #22c55e,
      #5eead4
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-teal-50);
    --foreground: #ededed;
  }
}

@utility flower-pattern {
  background-image: url("/images/flower-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
@utility noise-pattern {
  background-image: url("/images/noise-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
@utility noise-pattern-2 {
  background-image: url("/images/noise-pattern-02.png");
  background-position: center;
  background-repeat: repeat;
}

@utility glow-ball {
  background-image: url("/images/glow-ball3.png");
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
  @apply overscroll-none;
}

/* Apply DM Serif Display to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

:focus {
  @apply outline-teal-500;
}

.container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 60rem;
  }
  @media (width >= 64rem) {
    max-width: 74rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
}
