@import "tailwindcss";
@import "./typography.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-rotate-border: border-rotate 5s linear infinite;
  --breakpoint-3xl: 120rem;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbfbfb;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/noise-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
