@layer base {
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  h1 {
    font-size: var(--text-5xl);
    line-height: 1.1;

    @media (min-width: 400px) {
      @apply text-6xl;
    }

    @media (min-width: 768px) {
      @apply text-7xl;
    }

    @media (min-width: 1024px) {
      @apply text-8xl;
    }
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: 1;

    @media (min-width: 768px) {
      font-size: var(--text-6xl);
    }
  }

  h3 {
    font-size: var(--text-3xl);
    line-height: 1;

    @media (min-width: 768px) {
      font-size: var(--text-4xl);
    }
  }

  h4 {
    font-size: var(--text-xl);
    line-height: 1;

    @media (min-width: 768px) {
      font-size: var(--text-2xl);
    }
  }

  blockquote {
    @apply border-l-4 border-teal-500 pl-4 italic;
  }

  p {
    font-size: var(--text-base);

    @media (min-width: 768px) {
      font-size: var(--text-lg);
    }
  }

  .prose ul,
  .prose ol {
    @apply ml-6;
  }

  li {
    @apply relative before:mr-2 before:-ml-4 before:text-teal-400 before:content-['•'];
  }
}

@utility prose {
  max-width: 65ch;
  @apply space-y-4 text-base;
}

/* .prose h2,
.prose h3 {
  @apply mb-6;
} */

.prose p {
  @apply text-pretty;
}

@utility fancy-text {
  @apply bg-gradient-to-r from-emerald-400 via-teal-400 to-teal-200 bg-clip-text font-serif leading-tight text-transparent italic;
}

.prose a:not(.btn) {
  @apply relative text-teal-400 after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:bg-teal-400 after:transition-all after:duration-300 after:ease-in-out after:content-[''] hover:after:h-1;
}

.prose a:not(.btn):hover {
  @apply after:h-1;
}
