@layer base {
  h1 {
    font-size: var(--text-6xl);

    @media (min-width: 768px) {
      font-size: var(--text-8xl);
    }
  }

  h2 {
    font-size: var(--text-4xl);

    @media (min-width: 768px) {
      font-size: var(--text-6xl);
    }
  }

  h3 {
    font-size: var(--text-3xl);

    @media (min-width: 768px) {
      font-size: var(--text-4xl);
    }
  }

  p {
    font-size: var(--text-base);

    @media (min-width: 768px) {
      font-size: var(--text-lg);
    }
  }
}
